<div class="m-modals" ng-show="subview" ng-switch="subview">

    <!-- BEGIN: Alert Modal. -->
    <div ng-switch-when="alert" ng-controller="AlertModalController" class="modal">

        <p>
            {{ message }}
        </p>

        <p>
            <a ng-click="close()">Ok, I got it!</a>
        </p>

        <!-- This is to demonstrate that we can jump from one modal to another. -->
        <p>
            <a ng-click="jumpToConfirm()" class="jump">Jump over to the confirm modal</a>
        </p>

    </div>
    <!-- END: Alert Modal. -->


    <!-- BEGIN: Confirm Modal. -->
    <div ng-switch-when="confirm" ng-controller="ConfirmModalController" class="modal">

        <p>
            {{ message }}
        </p>

        <p>
            <a ng-click="confirm()">{{ confirmButton }}</a> &mdash;
            <a ng-click="deny()">{{ denyButton }}</a>
        </p>

    </div>
    <!-- END: Confirm Modal. -->


    <!-- BEGIN: Prompt Modal. -->
    <form ng-switch-when="prompt" ng-controller="PromptModalController" ng-submit="submit()" class="modal">

        <p>
            {{ message }}
        </p>

        <p ng-if="errorMessage">
            <strong>Sorry:</strong> {{ errorMessage }}
        </p>

        <p>
            <input type="text" ng-model="form.input" />
        </p>

        <p>
            <a ng-click="submit()">Submit</a> &mdash;
            <a ng-click="cancel()">Cancel</a>
        </p>

    </form>
    <!-- END: Prompt Modal. -->
    
    <!-- BEGIN: Prompt Modal. -->
    <form ng-switch-when="newNote" ng-controller="newNoteModalController" ng-submit="submit()" class="modal">

        <p>
            Title:       
            <input type="text" ng-model="form.title" />
        </p>
        <p>
            Content
        </p>
        <p>
            <textarea type="text" ng-model="form.note" ></textarea>
        </p>        
        <ul>
            <li> <button ng-click="submit()">Submit</button></li>
            <li> <button ng-click="cancel()">Cancel</button></li>
        </ul>
        

        <p ng-if="errorMessage">
            <strong>Sorry:</strong> {{ errorMessage }}
        </p>



    </form>
    <!-- END: Prompt Modal. -->

</div>